.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pacakge-lock.json
API.json

# test
/test/node_modules
/test/pacakge-lock.json
/test/run-tests.bash
test/ganache-kovan.sh
.vscode/launch.json

# CF worker site
#===========================
wrangler.toml

# E2E tests
#===========================
.env
tests/e2e/videos
tests/e2e/screenshots
tests/snapshot-id.txt