[aria-busy="true"][type=checkbox][role=switch]:before {
  display: inline-block;
  width: calc(1.25em - (var(--border-width) * 2));
  height: 100%;
  background-color: transparent;
  border: 0.1875em solid var(--color);
  border-radius: 1em;
  border-right-color: transparent;
  content: '';
  vertical-align: text-bottom;
  vertical-align: 0;
  animation: spinner 0.75s linear infinite;
  opacity: var(--loading-spinner-opacity);
}

[aria-busy="true"][type=checkbox][role=switch]:before:not(:empty) {
  margin-right: calc(var(--spacing) * 0.5);
  margin-left: 0;
  margin-inline-start: 0;
  margin-inline-end: calc(var(--spacing) * 0.5);
}

[aria-busy="true"][type=checkbox][role=switch]:before:empty {
  text-align: center;
}

@keyframes shortSpin {
  to {
    transform: rotate(180deg);
  }
}

dialog{
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  animation: fadein 0.3s forwards;
  animation-timing-function: ease-in-out;
}
@media (prefers-color-scheme: dark) {
  dialog{
    background-color: rgba(0, 0, 0, 0.9);
  }
}

dialog article {
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}

dialog article::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}