@import "colors";
@import "fonts";

.App {

  display: flex;
  width: 100%;
  min-height: 100%;

  .content {
    flex: 1;
  }

  .top-panel {
    width: 100%;
    background-image: linear-gradient(-182deg, $jumboBgStart 83%, $jumboBgEnd 115%), linear-gradient(to bottom, $jumboBg, $jumboBg);
    min-height: 462px;

    .logo {
      width: 178px;
      height: 57px;
      object-fit: contain;
    }
  }

  .header-stats {

    h3 {
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
    }

    label {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: italic;
    }

    .borrow-limit {
      margin-left: 50px;
      flex: 1;
    }
  }

  .global-stats {
    position: relative;
    .stats {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      color: $statsColor;

      h2 {
        color: $statsTitleColor;
        font-size: 15px;
        font-weight: normal;
      }

      .value {
        font-size: 40px;
      }

      > * {
        flex: 1;
        height: 146px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    img.floating {
      position: absolute;
      left: calc(50% - 12px);
      top: calc(50% - 24px);
    }

  }
}

.limit-bar {
  margin-top: 30px;
  display: flex;
  align-items: center;

  &-inner {
    margin: 0 20px;
    flex: 1;
    position: relative;
    height: 8px;
    border-radius: 666px;
    background-color: transparentize(#000000, 1-0.2);
  }

  &-track {
    border-radius: 666px;
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #000000;
    transition: all 0.4s;

    span {
      position: absolute;
      right: 0;
      margin-top: -30px;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: italic;
    }
  }

  &.mini {
    margin-top: 0;
    height: 23px;
    font-size: 12px;
    flex-direction: column;
    align-items: self-start;
    .values {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    label {
      font-size: "Poppins", sans-serif;
      font-weight: normal;
    }
    .limit-bar-inner {
      height: 4px;
      margin: 0;
      width: 100%;
    }

    .limit-bar-track {
      span {
        font-weight: normal;
        font-size: 12px;
        font-style: normal;
        margin-top: 6px;
        right: -20px;
      }
    }
  }
}
