@import "colors";
@import "fonts";

.currency {
  &-container {
    position: relative;
    top: -30px;
    align-items: flex-start;
    box-sizing: border-box;

    @media screen and (max-width: 1365px) {
      flex-direction: column;
    }

    @media screen and (max-width: 1023px) {
      top: 30px;
    }
  }

  &-box-container {
    margin-right: 38px;
    flex: 1;

    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.22);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
    background-origin: border-box;
    background-color: #ffffff;
    background-clip: content-box, border-box;
    transition: all 0.3s;
    position: relative;
    top: 0;

    @media screen and (max-width: 1365px) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      top: -38px;
      box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14);

      @media screen and (max-width: 1365px) {
        top: 0;
      }
    }
  }

  &-box {
    padding: 0 20px;
    display: flex;
    box-sizing: border-box;
    z-index: 5;
    flex-wrap: wrap;
    position: relative;

    height: 193px;
    width: 100%;

    @media screen and (max-width: 1600px) {
      height: 164px;
    }

    @media screen and (max-width: 1365px) {
      margin: 0;

    }

    &-close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: -30px;
      opacity: 0;
      transition: all 0.5s;

      @media screen and (max-width: 1600px) {
        right: 14px;
      }

      &.active {
        opacity: 1;
      }

      img {
        width: 59px;
        height: 59px;
        object-fit: contain;

        @media screen and (max-width: 1600px) {
          height: 52px;
        }
      }
    }
  }

  &-icon {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &-title {
    font-family: $titleFont;
    font-size: 22px;
    letter-spacing: 1.1px;
    margin-left: 20px;
    flex: 1;

    @media screen and (max-width: 1600px) {
      font-size: 19px;
    }
  }

  &-value {
    width: 160px;
    text-align: right;
    font-family: $titleFont;

    @media screen and (max-width: 1600px) {
      width: 140px;
    }

    p {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 5px;

      @media screen and (max-width: 1600px) {
        font-size: 20px;
      }
    }
    small {
      font-size: 14px;
      color: transparentize(#0b0412, 1-0.48);
    }
  }

  &-meta {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &-actions {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    @media screen and (max-width: 1600px) {
      margin-left: 35px;
    }
  }

  &-action-panel-container {
    background-color: $panelBg;
    height: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &.active {
      height: 254px;

      &.loading {
        height: 89px;
      }

      &.completed {
        height: 89px;

      }

      &.failed {
        height: 89px;
        background-color: rgba(255, 221, 221, 0.2);
      }
    }
  }

  &-action-panel {
    border-top: 1px solid $panelSeparatorColor;
    padding: 0 38px;
    color: $panelColor;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    svg {
      width: 48px;
      path {
        transform-origin: center;
        animation: frag 3s infinite;

        &:nth-child(1) { animation-delay: 0s };
        &:nth-child(2) { animation-delay: 0.1s };
        &:nth-child(3) { animation-delay: 0.2s };
        &:nth-child(4) { animation-delay: 0.3s };
      }
    }

    &.centered {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    h2 {
      font-family: $titleFont;
      font-size: 24px;
      letter-spacing: 1.2px;
      font-weight: normal;
      margin-bottom: 7px;
      text-transform: uppercase;

      @media screen and (max-width: 1600px) {
        font-size: 20px;
      }
    }

    h3 {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: normal;
      display: flex;
      align-items: center;

      span {
        margin-left: 18px;
      }
    }

    p {
      font-family: $bodyFont, sans-serif;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 10px;

      @media screen and (max-width: 1600px) {
        font-size: 12px;
      }
    }

    &-footer {
      padding: 25px 38px;

      label {
        font-size: 12px;
      }

      .value {
        font-family: $titleFont;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  &-input {
    display: flex;
    input {
      outline: none;
      width: 100%;
      height: 45px;
      box-sizing: border-box;
      border-radius: 4px;
      border: solid 1px $inputBorder;
      flex: 1;
      padding-left: 18px;
      font-family: $bodyFont, sans-serif;

      @media screen and (max-width: 1600px) {
        height: 38px;
      }
    }

    button {
      @extend .currency-input-button;
    }
  }

  &-secondary-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
  }

}

.set-max {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  cursor: pointer;
}

